* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    user-select: none; /* Prevents :active and stuff though */
}

h1 {
    margin: 0;
}

/* GRID */

#grid {
    height: 500px;
    width: 500px;
    margin: 0;
}

.grid-square {
    border: 1px solid black;
}

.grid-row {
    display: flex;
}

/* BUTTONS */

.color-picker {

}

.clear-btn {

}

.eraser-btn-btn {

}

.active-btn {
    background-color: blue;
}

.grid-btn {
    
}

/* SLIDER */

.grid-size-slider {

}

.slider-label {

}

.size-slider {

}